[submodule "vlsa-aegis"]
	path = vlsa-aegis
	url = https://github.com/THU-RCSCT/vlsa-aegis.git
[submodule "cosmos-policy"]
	path = cosmos-policy
	url = https://github.com/NVlabs/cosmos-policy.git
[submodule "oopsieverse_eval/external/oopsieverse"]
	path = oopsieverse_eval/external/oopsieverse
	url = https://github.com/UT-Austin-RobIn/oopsieverse.git
